
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/Century_Gothic.ttf');
}

body{font-family: 'Muli', sans-serif;}

body{
 background-color: #ffffff;
 margin: auto;
 padding: 0;
}

.footer_loader{
 position: absolute;
 bottom: 0;
 font-size: 12px;
 padding-bottom: 20px;
 text-align: center;
 max-width: 100vw;
}
.superindice{
 vertical-align:super;
 font-size: 12px;
}

.superindice2{
 vertical-align:super;
 font-size: 10px;
}
footer{
 max-width: 1024px;
 width: 100%;
 padding: 0 12px;
 margin: 0 auto;
}
.container,.container_calcula{
 max-width: 1024px;
 min-height: 500px;
 width: 100%;
 margin: 5em auto 0;
 display: table;
}

.loader{
 background: url(../img/background.jpg);
 background-size: cover;
}
.snoopy_loader{
 padding-top: 18%;
 text-align: center;
 width: 100%;
}

.snoopybaby{
 position: relative;
}
.wod{
 position: absolute;
 top: 0;
 right: 30%;
 width: 110px;
}
.wod img{
 width: 60%;
}
.peanuts{
 text-align: right;
}

footer{
 position: sticky;
 text-transform: uppercase;
 font-size: 9px;
 font-weight: 900;
 bottom: 0;

}
.footer{
 background-color: #fff;
 opacity: 1;
}
footer > .come_bien{text-align: left;}

.legales{
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0 auto;
  left: 0;
}
.privacidad{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(220,220,220,0.9);
  opacity: 0.9;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  display: none;
}

.submenu, .submenu_games{
 padding-top: 30px;
 /*padding-left:60px; */
}
.nubes{
 text-align: center;
 background-image: url('../img/nubes.png');
 background-repeat: no-repeat;
 background-position: 0;
 height: 100px;
}

.nubes > img{
 max-width: 966px;
}

.txtRed{
 color:#DC1E35;
}

.txtRed iframe{
 width: 400px;
 height: 182px;
}
.txtBig{
 font-size: 36px;
 line-height: 1.5;
 margin-top: 20px;
 font-weight: 600;
}
.txtSmall{
 font-size: 12px;
 width: inherit;
 margin: 0 auto;
}

.participaBtn{
 background-image: url('../img/btn_participa.png');
 width: 286px;
 height: 60px;
 border: none;
}

button{
  outline-style: none;
  outline-width: 0px;
  outline: none !important;
}
.participaBtn:hover{
 background-image: url('../img/btn_participa_over.png');
}

p{margin: 0;}

hr{
 background-color:  #DC1E35;
 height: 2px;
 border: 0;
 margin: 5px auto 10px auto;
 max-width: 40vw;
}

.submenuSpace{
 padding: 0 0 0 55px;
 text-align: center;
 margin-top: -60px;

}
.submenu_nav{
 /*width: 95px;*/
}
.casaSnoopy{
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: -20px;
}
.casaSnoopy > img{
 width: 409px;
 height: auto;
}
.snoopyPasto{
 padding-top: 60px;
   /*position: absolute;
   bottom: 25px;
   right: 35px;*/
 }
 .snoopyPasto > img{
   width: 120px;
   height: auto;
 }
 .pasto_minigame,
 .nube_minigame{
  background-size: cover;
  margin: 0 0;
  width: 100vw;
  z-index: -10;
  background-repeat: repeat-x;
  background-size: 50vw;
  left: 0;
  width: 100%;
  position: fixed;
}
.pasto_minigame{
  bottom: 0;
  background-image: url("../../assets/img/pasto_minigames.png");
  background-position: center bottom;
  background-size: 860px;
}
.pasto_minigame img{
  padding-left: 60vw;
}
.nube_minigame{
  height: 100%;
  top: 100px;
  background-image: url("../../assets/img/nubes_minigames.png");
  background-position: center top;
  background-size: 720px;
}
.btn_menu{
 height: 60px;
}
.btn_menu:hover{
 background-color: #7a1510;
 height:70px;

}
.fail{
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: #DC1E35;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 6px;
}
/************************
  HEADER
  ************************/

  .page-header{
   overflow: hidden;
   background: #DC1E35;
   height: 5em;
   transition:all .4s linear;
   margin: 0;
   border-bottom: none;
   padding: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 112;
 }

 .page-header .center-contents{
   /*max-width: 1024px;*/
   margin:auto;
   overflow: hidden;
 }

 .logo{
   max-width: 60px;
   display: block;
   float: left;
   padding: 0.7em;
 }

 .logo img{
   display: block;
   height: 52px;
 }

 .page-nav{
  color: #fff;
  width:100%;
  max-width:1000px;
  margin:70px auto 0;
  background-color:#a51b15;
  z-index: 1;
}

.page-nav ul, .page-nav li{
  list-style:none;
  padding: 0;
}


.redes{
 border: 2px solid #fff;
 border-radius: 100%;
 line-height: 25px;
 text-align: center;
 padding: 4px 4px 0 4px;
 font-size: 18px !important;
}
.redesfb{
 border: 2px solid #fff;
 border-radius: 100%;
 line-height: 25px;
 text-align: center;
 padding: 4px 6px 0 6px;
 font-size: 18px !important;
}

.page-nav a{
  color: #fff;
  width: 100%;
  height: auto;
  display: block;
  padding: 0px 15px;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.toggle-nav {
  float: right;
  padding: 1em;
  margin: 0 0 1em 1em;
  color: rgb(255,255,255);
  cursor: pointer;
}


.menu-expanded {
  height: 80vh;
}

.menu-expanded .page-nav li{
  justify-content: center;
}


/************************
  MAIN CONTENTS
  ************************/

  .page-contents{
    padding:0 1em;
    max-width: 650px;
    margin:auto;
  }

/************************
  MEDIA QUERIES HEADER
  ************************/
  @media only screen and (min-width:450px){
    .page-header span{
      display: block;
    }

    .page-nav {
      clear:left;
      position: fixed;
      visibility: inherit;
      transition:visibility .4s linear;
      top: 0;
    }
    .page-nav a {
      padding: 1.2em 15px;
      font-size: 1em;
    }
  }

  @media only screen and (min-width:992px){
    .page-header{
      height: 5em;
    }

    .logo{
      max-width: 92px;
    }
    .page-nav{
      /*width: auto;*/
      float: right;
      display: block;
      clear: none;
      visibility: visible;
      width:90%;
      max-width:1000px;
      margin:0 20px;
      background-color:transparent;
      right: 0;
    }
    .page-header span{
      display: none;
    }

    .page-nav li{
      float: left;

    }
    .page-nav ul{
      float: right;
    }
    .page-nav a {
      border-top: none;

    }
    .redes{
     display: none;
   }
   .minigame{
    padding: 20px 0;
  }
  .fail{
    width: 58vh;
  }
  .footer_calcula{
    /*position: fixed;
    width: 50vw;*/
  }
  .collapse {
    visibility: inherit;
  }
  .redes{
   display: none;
 }

}

@media only screen and (max-width:699px){
  .collapse {
    visibility: hidden;
  }
  .pasto_minigame img{
    padding-left: 30vw;
  }
  .menu-expanded {
    height: 100vh;
  }
}

/************************
  / MEDIA QUERIES HEADER
  ************************/

  .close{
   opacity: 1;
 }
 .modal-header{
   border-bottom: none;
 }
 #myModal .modal-dialog{
   /*width: 388px;*/
   height: 404px;
 }
 #myModal .modal-content{
   background-color: transparent;
   background-image: url('../img/back_modal.png');
   background-repeat: no-repeat;
   width: 388px;
   height: 404px;
   box-shadow: none;
   border: none;
   margin:auto;
 }

 #ModalTicket .modal-dialog{
   width: auto;
   height: 391px;
 }

 #ModalTicket .modal-content{
   background-color: transparent;
   background-image: url('../img/back_textos.png');
   background-repeat: no-repeat;
   width: 754px;
   height: 534px;
   box-shadow: none;
   border: none;
   margin: auto;
 }
 #ModalTicket .modal-body{
   padding: 0 15px;
 }

 .backPasto{
   background-image: url('../img/arbusto.png');
   background-position: bottom 10px right 0px;
   background-repeat: no-repeat;
   height: 450px;
   position: relative;

 }

 .vista360{
   background-image: url('../img/back_vista.png');
   background-repeat: no-repeat;
   width: 573px;
   height: 359px;
   /*margin-left: 20px;*/
   margin: auto;
 }

 .formCatsup{
   background-color: #ffffff;
   width: 642px;
   height: 120px;
   margin-left: 180px;
   -webkit-box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   -moz-box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   box-shadow: 10px 10px 15px 0px rgba(204,204,204,0.5);
   text-transform: none;
 }

 .usaludo{
   color: #DC1E35;
   font-size: 28px;
   font-weight: 900;
 }
 .upregunta{
   font-size: 15px;
   font-weight: 900;
 }

 input[type="text"],input[type="file"],select {
   border: 2px solid #000000;
   padding: 10px;
   font-size: 14px;
   color: #a0a0a0;
   width: 164px;
   background-color: #fff;
 }
 button{
   border: none;
   background-color: transparent;
 }
 .btns_ticket{
   width: 100% !important;
 }
 .btnEnviar{
   background-image: url('../img/btn_participa_360.png');
   background-repeat: no-repeat;
   width: 111px;
   height: 47px;
 }
 .btnEnviar:hover{
   background-image: url('../img/btn_participa_360_over.png');
 }

 #enviar_ticket{
   background-image: url('../img/enviar_ticket.png');
   background-repeat: no-repeat;
   width: 239px;
   height: 43px;
 }

 #enviar_ticket:hover{
   background-image: url('../img/enviar_ticket_over.png');
 }

 .botellita{
   position: relative;
   bottom: 75px;
   left: 0px;
 }
 .divEnviar{
   padding-top: 13px;
   text-align: right;
   padding-right: 0;
   margin-left: 12px;
 }
 .form_ticket{
   color: #ffffff;
   text-align: left;
   font-size: 15px;
 }

 .img_ticket_snoopy{
   position: absolute;
   top: 300px;
 }
 .img_ticket_botella{
   position: absolute;
   top: 100px;
   right: 25px;
   display: block;
 }
 .form-group {
  margin-bottom: 10px;
}
.form_ticket input{
 font-style: italic;
}
#archivo1{
 background-image: url('../img/back_img.png');
 background-repeat: no-repeat;
 background-position: 98%;
}

/*FILE*/
.inputModificado {
  clear: both;
}

.inputImagen {
 background: #ffffff;
 padding: 10px;
 border: 2px solid #000000;
 color: #a0a0a0;
 font-size: 15px;
 float: left;
 margin-top:  -2px;
 width: 100%;
}

.botonInputFileModificado {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0px 8px 2px black;
  width: 100px;
  margin-left: 180px;
}

.botonInputFileModificado .inputImagenOculto {
  opacity: 0;
  position: absolute;
  margin-left: -125px;
  width: 650px;
}

.botonInputFileModificado .boton {
  text-align: center;
}

/*END FILE*/

.backPasto{
 display: block;
}

.nozoom{
 transition: width 2s, height 2s, transform 2s;
 -moz-transition: width 2s, height 2s, -moz-transform 2s;
 -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
 -o-transition: width 2s, height 2s,-o-transform 2s;
}

.zoom{
  transition: width 2s, height 2s, transform 2s;
  transform : scale(2);
  -moz-transform : scale(2);      /* Firefox */
  -webkit-transform : scale(2);   /* Chrome - Safari */
  -o-transform : scale(2);        /* Opera */
}

.zoomsMov{
  background-color: #ffffff;
  height: 43px;
  width: 135px;
  padding: 4px;
  border: 2px solid #000000;
  border-radius: 38px;
  position: absolute;
  left: 35%;
}

.zooms{
  background-color: #ffffff;
  height: 47px;
  width: 94px;
  border: 2px solid #000000;
  border-radius: 38px;
  position: absolute;
  right: 40%;
  bottom: 0;
  z-index: 1;
}

.zooms button {
  padding: 6px 2px 6px 7px;
}

#ModalMecanica .modal-dialog, #ModalPremios .modal-dialog, #ModalBases .modal-dialog{
 width: auto;
 margin: 0 auto;
}

#ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content{
 background-color: transparent;
 background-image: url('../img/back_textos.png');
 background-repeat: no-repeat;
 width: 754px;
 height: 534px;
 box-shadow: none;
 border: none;
 color:#ffffff;
 margin: auto;
}
.imgPremios img{
 width: 100%;
 max-width: 310px;
}

.titleTexto{
 font-size: 48px;
 text-decoration: underline;
 margin-top: -30px;
 padding-bottom: 30px;
}
.textoMecanica{
 font-size: 18px;
 text-align: left;
 padding: 0 35px;
 line-height: 32px;
}
.textoPremios{
 font-size: 16px;
 text-align: left;
 padding: 0 0 0 39px;
}
.imgPremios{
 padding-top: 17px;
}
.textoBases{
 font-size: 12px;
 text-align: justify;
 max-height: 333px;
 overflow: scroll;
 width: 90%;
 padding: 0 15px;
 margin: auto;
}

.footer_calcula{
 font-family: 'Century Gothic';
 background-color: #fff;
 opacity: 1;
}
.imagen360{
 padding:20px 48px;
 z-index: 111;
}
.vista360Mov{
 display: none;
}
#image-reel{
 height: 320px;
 width: 480px;
}
#image-reel > img{
 border: 2px solid #000;
 border-radius: 6px;
}
.picPerfil{
 text-align: center;
 padding-top: 20px;
 padding-bottom: 30px;
 font-family: 'Century Gothic';
 color: #fff;
 font-size: 20px;
}
.graciasPerfil{
 width: 150px;
 border-radius: 150px;
 margin-top: 1em;
}
.textoGracias{
 padding: 0 15px;
 margin: 1em 2em 0;
}
iframe{
  border: medium none;
  height: 260px;
  width: 310px;
}
.subMov{
 cursor: pointer;
}
.texto_minigame{
 font-family: 'Muli' sans-serif;
 font-size: 27px;
 padding: 0 0;
 font-weight: 900;
}
.minigame{
 padding: 20px 0;
}
.minigame iframe{
  width: 100vw;
  max-width: 350px;
  padding: 0;
}


@media screen and (max-width: 991px) {
 .container, .container_calcula{
  margin: 5em auto 130px;
}
footer, .footer, .footer_calcula{
  opacity: 1;
  position: fixed;
}
.footer_calcula{
  max-width:100%;
}
.footer, .footer_calcula{
  box-shadow: 17px 1px 5px #ccc;
  margin-bottom: 0px;
}
.fail{
  width: 80vw;
}
.txtRed iframe{
  width: 640px;
  height: 360px;
}
.backPasto{
 display: none;
}
.sinpd{
  padding: 0;
}
.catsup{
  /*position: relative;*/
  height: 170px;
}
.formCatsup{
  width: 100%;
  height: 90px;
  position: absolute;
  top: 60px;
  margin-left: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;

}
.subMov{
  background-color: #ffffff;
  padding:5px 0 10px 0;
}
.nubes{
  background-position: bottom -56px right 0;
}
.divEnviar{
  padding-top: 0;
  text-align: left;
  padding-right: 0;
  margin-left: 12px;
}
.btnEnviar{
  margin-top: -4px;
}
.usaludo{
  margin-top: -20px;
}
.vista360Mov{
  background-image: url('../img/back_vista_movil.jpg');
  background-repeat: repeat;
  width: 100%;
  min-height: 914px;
  margin-top: 54px;
  display: block;
}

.nubes{
  background-image: none;
  height: 0;
}
.modal-dialog {
 margin: 10px;
 position: relative;
 width: auto;
}
#myModal .modal-content, #ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content, #ModalTicket .modal-content {
 background-color: transparent;
 background-image: url("../img/back_modal_movil.jpg");
 background-repeat: repeat;
 border: medium none;
 box-shadow: none;
 color: #ffffff;
 height: 100vh;
 width: 100%;
}
.modal-body{
  top: 10%;
}
.wod{
  right: 24%;
}
.footer_calcula{
  opacity: 1;
}
#image-reel{
  height: auto;
  width: 100%;
}
.reel{
  width: 90%;
  height: auto;
  margin: 10px auto;
}
.vista360Mov > #image-reel >img{
  border: 2px solid #000;
  border-radius: 6px;
}
.img_ticket_botella{
  display: none;
}
.img_ticket_snoopy {
  top: 350px;
}
.minigame{
  padding: 20px 0;
}
.mini{
  margin: 30px 0;
}
.submenu_games{
  padding-top: 5px;
}

.textoBases{
  max-height: 50vh;
}
.legales{
  position: initial;
}
}



@media screen and (max-width: 768px) {
 .container{
  width: 100%;
}
.container,footer{
  max-width: 745px;
}
.snoopy_loader{
  padding-top: 35%;
}
.submenu_nav{
  /*width: 55px;*/
}
   /*.upregunta {
    font-size: 14px;
    }*/
    .wod{
      right: 20%;
    }
    .legales{
      position: initial;
    }
  }



  @media screen and (min-width: 560px) and (max-width: 760px) {
   .txtRed iframe{
    width: 460px;
    height: 259px;
  }
  .txtBig{
    font-size: 32px;
  }
  .wod{
    right: 20%;
  }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
      }*/
   /*.upregunta{
      font-size: 12px;
      width: 220px;
      }*/
   /*.divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 44px;
      }*/
      .vista360Mov{
        min-height: 600px;
      }
    }

    @media screen and (min-width: 461px) and (max-width: 559px) {
     .txtRed iframe{
      width: 380px;
      height: 214px;
    }
    .col-xs-12{
      padding-right: 1px;
      padding-left: 1px;
    }
    .txtBig{
      font-size: 32px;
    }
    .casaSnoopy{
      margin-top: 30px;
    }
    .wod{
      right: 14%;
    }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
   }
   .upregunta{
      font-size: 12px;
      width: 220px;
      }*/
   /*.divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 44px;
      }*/
      .usaludo{
        margin-top: -35px;
      }

      .vista360Mov{
        min-height: 600px;
      }
      .subMov a img,
      .subMov img{
        width: 60%;
      }
    }




    @media screen and (min-width: 321px) and (max-width: 460px) {
     .container{
      width: 100%;
    }
    .container, footer{
      max-width: 460px;
    }
    .snoopy_loader{
      padding-top: 40%;
    }

    .textRed{
      padding:1px ;
    }
    .txtRed iframe{
      width: 320px;
      height: 180px;
    }
    .txtBig{
      font-size: 27px;
    }
    .casaSnoopy{
      margin-top: 30px;
    }
    .wod{
      right: 20%;
    }
   /*.usaludo{
      margin-top: -62px;
      width: 220px;
      font-size: 24px;
   }
   .upregunta{
      font-size: 12px;
      width: 220px;
      }*/
      .vista360Mov{
        min-height: 600px;
      }
      .subMov a img,
      .subMov img{
        width: 80%;
      }
      .menu-expanded{
        line-height: 3em;
        font-size: 1em;
      }
    }




    @media screen and (min-width: 320px) and (max-width: 519px) {

     .snoopyPasto > img{
      width: 70px;
      height: auto;
    }
    .sinpd{
      padding: 0;
    }

    .casaSnoopy{
      margin-top: 30px;
    }
    .casaSnoopy img{
      width: 100%;
    }
    .usaludo {
      margin-top: -50px;
      width: 250px;
      margin-left: 20px;
      font-size: 16px;
    }
    .upregunta {
      width: 250px;
      margin-left: 20px;
      font-size: 12px;
    }
    .divEnviar {
      padding-top: 15px;
      text-align: right;
      padding-right: 0;
      margin-left: 90px;
    }
    .wod{
      right: 6%;
    }
    .vista360Mov{
      min-height: 560px;
    }
    .img_ticket_snoopy{
      display: none;
    }
    .fail{
      font-size: 1.3em;
      font-weight: 300;
    }
  }



  @media screen and (max-width: 320px) {
   .container{
    min-height: 460px;
    width: 100%;
  }
  .container{
    width: 300px;
    padding: 0 10px;
  }
  .footer_calcula{
    box-shadow: none;
    width: 100%;
  }
  .snoopy_loader{
    padding-top: 40%;
  }
  .txtBig{
    font-size: 22px;
  }
  .txtRed iframe{
    width: 280px;
    height: 158px;
  }
  .casaSnoopy{
    margin-top: 30px;
  }
  .casaSnoopy img{
    width: 100%;
  }
  .sinpd{
    padding: 0;
  }
  .snoopyPasto{
    visibility: hidden;
    position: absolute;
   /* padding-top: 60px;
    bottom: 25px;
    right: 15px;
    top: 50px;*/
  }

  .snoopyPasto > img{
    width: 70px;
    height: auto;
  }
  .miniText {
   width: 280px;
 }
 .botellita{
  left:-20px;
}
.usaludo{
  margin-top: -46px;
  width: 240px;
  font-size: 12px;
}
.upregunta{
  font-size: 12px;
  width: 220px;
}

.divEnviar {
  padding-top: 15px;
  text-align: right;
  padding-right: 0;
  margin-left: 75px;
}
.btnEnviar{
  background-size: 90%;
  margin-top: -2px;
}
.wod{
  right: -8px;
  width: 108px;
  top: 14px;
}
.vista360Mov{
  min-height: 360px;
}
.img_ticket_snoopy{
  display: none;
}
.subMov a img,
.subMov img{
  width: 90%;
}
.menu-expanded{
  line-height: 3em;
  font-size: 1em;
}
}
@media screen and (max-height: 480px){
  iframe{
    margin-top: 0;
  }
  #myModal .modal-content, #ModalMecanica .modal-content, #ModalPremios .modal-content, #ModalBases .modal-content, #ModalTicket .modal-content {
    height: 100%;
  }
}
@media screen and (min-width: 920px)and (max-height: 800px){
  .footer_calcula{
    /*position: fixed;
    width: 100%;
    color: red;
    bottom: 10vh;*/
  }
}
